Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} !=localhost:8888
	RewriteCond %{HTTP_HOST} !=localhost
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

	RewriteRule ^v2 - [L,NC] 
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^sync resources/helpers/sync-with-foursquare.php [L]
	RewriteRule ^google_static_map/(.*)/(.*) resources/helpers/google-static-map.php?center=$1&zoom=$2 [L]

	RewriteRule ^robots.txt robots.txt [L]
	RewriteRule ^manifest.json manifest.json [L]
	
	RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*) resources/helpers/router.php?list=$1&category1=$2&category2=$3&category3=$4&category4=$5 [QSA]
	RewriteRule ^(.*)/(.*)/(.*)/(.*) resources/helpers/router.php?list=$1&category1=$2&category2=$3&category3=$4 [QSA]
	RewriteRule ^(.*)/(.*)/(.*) resources/helpers/router.php?list=$1&category1=$2&category2=$3 [QSA]
	RewriteRule ^(.*)/(.*) resources/helpers/router.php?list=$1&category1=$2 [QSA]
	RewriteRule ^(.*) resources/helpers/router.php?list=$1 [QSA]	
</IfModule>