body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

#master {
	overflow: hidden;
}

#container {
	width: 320px;
	position: relative;
	left: 50%;
}

#content {
	position: relative;
	left: -50%;
	margin: 50px 0 100px 0;
}

.section-header {
	font-size: 13px;
	font-weight: 400;
	color: #BEC2C9;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 20px;
}

.section-header-replacement {
	height: 60px;
	display: block;
}

#lists .list {
	margin-bottom: 8px;
	font-size: 22px;
}
	
#lists .list a {
	color: #000000;
}

#lists .list .label {
	color: #000000;
	font-weight: 500;
}

#lists .list .count {
	color: #BEC2C9;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:hover, a.hover, a:active {
	text-decoration: underline;
}

.list.positive-search-result.selected .label {
	font-weight: 700;
	text-decoration: underline;
}

#empty-search-results {
	margin-top: -20px;
	margin-left: 0px;
}

input#search {
	margin-left: 0px;
	border-radius: 0;
	padding: 0;
}